[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
jupyter = "*"
jupytext = "*"
ipython = "*"
matplotlib = "*"
cython = "*"

[packages]
pydicom = "*"
pillow = "*"
torch = "==1.1.0"
torchvision = "*"
opencv-python-headless = "*"
mock = "*"
pycocotools = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
